@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
* {
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: sticky; */
	top: 0%;
	cursor: pointer;
}
.nav-list {
	width: 70%;
	display: flex;
	align-items: center;
}
.nav-list li {
	list-style: none;
	padding: 30px 30px;
}
.nav-list li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
}
.nav-list li a:hover {
	text-decoration: none;
	color: rgb(5, 5, 5);
}
.logo {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img {
	width: 50%;
	border: 3px solid white;
	border-radius: 50%;
}
.rightNav {
	width: 3 0%;
	text-align: right;
	padding: 0 23px;
}
#search {
	padding: 5px;
	font-size: 17px;
	border: 2px solid gray;
	border-radius: 9px;
}
.background {
	background:brown url(../images/background.jpeg);
	background-size: cover;
	background-blend-mode: darken;
}
.firstSection {
	height: 90vh;
}
.box-main {
	display: flex;
	height: 80%;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	max-width: 50%;
	margin: auto;
}
.firstHalf {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.secondHalf {
	width: 30%;
}
.secondHalf img {
	width: 70%;
	border: 4px solid white;
	border-radius: 150px;
	display: block;
	margin: auto;
}
.text-big {
	font-size: 35px;
}
.text-small {
	font-size: 18px;
}
.btn {
	padding: 8px 20px;
	margin: 8px 3px;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor: pointer;
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
}
.btn-sm {
	padding: 6px 10px;
	vertical-align: middle;
	font-size: 13px;
}
.section {
	font-family: "Ubuntu", sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	max-width: 80%;
	margin: auto;
	padding: 10px;
}
.section-left {
	flex-direction: row-reverse;
}
.paras {
	padding: 0px 65px;
}
.sectionSubTag {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.thubnail img {
	width: 250px;
	border: 2px solid rgb(167, 91, 91);
	border-radius: 25px;
	margin-top: 15px;
}
.contact {
	background-color: brown;
	height: 525px;
}
.text-center {
	text-align: center;
	padding: 15px;
	font-family: "Ubuntu", sans-serif;
	font-size: 30px;
}
.form {
	max-width: 65%;
	margin: 20px auto;
}
.form-input {
	margin: 7px 0;
	width: 100%;
	padding: 5px 13px;
	font-size: 15px;
	border: 3px solid gray;
	border-radius: 10px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn-dark {
	color: black;
	border: 3px solid black;
}
.text-footer {
	text-align: center;
	padding: 15px 0;
	font-family: "Ubuntu", sans-serif;
	display: flex;
	justify-content: center;
	color:black;
}
.burger {
	display: none;
	position: absolute;
	cursor: pointer;
	right: 5%;
	top: 15px;
}
.line {
	width: 33px;
	background-color: white;
	height: 3px;
	margin: 5px 3px;
}
